* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.sidenav {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    padding-top: 20px;
    transition: 0.5s;
}

.sidenav h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.sidenav a {
    padding: 15px 20px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease-in-out;
}

.sidenav a:hover {
    /* background-color: #575757; */
    color: #CCBA72;
    font-size: bold;
    transform: translateX(8%);
}

.sidenav i{
    /* border: 1px solid red; */
    margin-right: 10px;
}

/* Main content */
main {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    height: 100vh;
}

main h1 {
    font-size: 36px;
}

main p {
    font-size: 18px;
    color: #333;
}

.min{
        display: flex;
        /* border: 1px solid red; */
}


.min div{
    margin: 20px;
    flex-basis: 50%;
    
}

.min img{
    width: 100%;
}









/* Responsive design */

@media screen and (max-width: 768px) {
    .sidenav {
        width: 100px;
    }
    .sidenav a {
        font-size: 14px;
        padding: 10px;
    }
    main {
        margin-left: 100px;
    }
}
