{% extends 'base.html' %}
{% block content %}

            <div class="contacthead">
                <h1>Contact Us</h1>
                <p>We are constantly striving to improve our service and would like to hear from you.</p>
            </div>

            <div class="contact-form">
                <form>

                    <label for="">Name*</label>
                    <input type="text" placeholder="Your Name">

                    <label for="">Phone*</label>
                    <input type="number" placeholder="+_(___)__-__-__">

                    <label for="">Email*</label>
                    <input type="email" placeholder="Your Email">

                    <label for="">Message</label>
                    <textarea name="" id="" placeholder="Your Message"></textarea>

                    <button type="submit">Submit</button>


                </form>
            </div>
            <br><br><br><br><br>

{% endblock %}