{% extends 'base.html' %}
{% block content %}

            <div class="contacthead">
                <h1>Contact Us</h1>
                <p>We are constantly striving to improve our service and would like to hear from you.</p>
            </div>


            
            {% if messages %}
                
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                    
            {% endif %}
                

            
                
                <div class="contact-form">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="name">Name*</label>
                        <input type="text" name="name" placeholder="Your Name">

                        <label for="phone">Phone*</label>
                        <input type="text" name="phone" placeholder="+_(___)__-__-__">

                        <label for="email">Email*</label>
                        <input type="email" name="email" placeholder="Your Email">

                        <label for="message">Message</label>
                        <textarea name="message" id="" placeholder="Your Message"></textarea>

                        <button type="submit">Submit</button>
                    </form>
                </div>
           
                

           
            <br><br><br><br><br>

{% endblock %}