{% extends 'base.html' %}
{% load static %}
{% block content %}
    
        <section class="first">

            <div class="search-box">
                <input type="text" placeholder="Cars, Problems, Symptoms e.t.c">
                <i class="fas fa-search"></i>
            </div>

            <div class="welcome">
                <!-- <h1>Welcome to FixMe</h1><br> -->
                <h1>Quality Car Repair.</h1>
                <h1 class="dif">Fair Price Guarantee.</h1>
                <p>Choose from 400+ certified auto repair shops and dealerships nationwide.</p>
            </div>
            <div class="frm">
                <form action="">
                    <div class="inputfields">
                        <input type="text" placeholder="Enter Location">     
                        <select name="" id="">
                            <option value="">Select Brand</option>
                            {% for brand in brand %}
                                <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                            {% endfor %}
                        </select>
                        
                        <!-- <select name="" id="">
                            <option value="">Select vehicle make</option>
                            <option value="">Acura</option>
                            <option value="">Alfa Romero</option>
                            <option value="">Audi</option>
                            <option value="">BMW</option>
                            <option value="">Buick</option>
                            <option value="">Cadillac</option>
                            <option value="">Chevrolet</option>
                            <option value="">Chrysler</option>
                            <option value="">Dodge</option>
                            <option value="">Eagle</option>
                            <option value="">Fiat</option>
                            <option value="">Ford</option>
                            <option value="">Genesis</option>
                            <option value="">Geo</option>
                            <option value="">GMC</option>
                            <option value="">Honda</option>
                            <option value="">Hummer</option>
                            <option value="">Hyundai</option>
                            <option value="">INFINITI</option>
                            <option value="">Isuzu</option>
                            <option value="">Jaguar</option>
                            <option value="">Jeep</option>
                            <option value="">Kia</option>
                            <option value="">Land Rover</option>
                            <option value="">Lexus</option>
                            <option value="">Lincoln</option>
                            <option value="">Mazda</option>
                            <option value="">Mercedes-Benz</option>
                            <option value="">Mercury</option>
                            <option value="">Mini</option>
                            <option value="">Mitsubishi</option>
                            <option value="">Nissan</option>
                            <option value="">Oldsmobile</option>
                            <option value="">Plymouth</option>
                            <option value="">Pontiac</option>
                            <option value="">Porshe</option>
                            <option value="">Ram</option>
                            <option value="">Saab</option>
                            <option value="">Saturn</option>
                            <option value="">Scion</option>
                            <option value="">Smart</option>
                            <option value="">Srt</option>
                            <option value="">Subaru</option>
                            <option value="">Suzuki</option>
                            <option value="">Tesla</option>
                            <option value="">Toyota</option>
                            <option value="">Volkswagen</option>
                            <option value="">Volvo</option>
                        </select> -->
                        <button>&RightArrow;</button>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    <label for="">I have a Fixme&trade; plan</label>
                    </div>
                </form>
            </div>
        </section>

        <!-- Second Section -->
        <section class="second">
            <div class="second-items">
                <h1>One place for all your car needs.</h1>
                <p>Get help with maintaining your vehicle, fixing problems, and more.</p>
                <div class="secbuttons">
                    <button>Car Recalls</button>
                    <button>Common Problems</button>
                    <button>Tires</button>
                    <button>Reliability Ratings</button>
                </div>
                <div class="secbuttons">
                    <button>Symptom Guide</button>
                    <button>Maintenance Schedule</button>
                    
                </div>
            </div>

        </section>



        <section class="review">
            <div class="title">
                <h2>What others love about Fixme</h2>
            </div>

            <div class="cards">
                <div class="card-item">
                    <p>"You certainly provide a service which allows a customer to feel more confident that they are being serviced at a reasonable price."</p>
                    <div class="image">
                        <img src="{% static 'images/homeimages/lizzy.png' %}" alt="">
                        <div class="imt">
                            <h1>Lizzy</h1>
                            <h4>Minneapolis, MN</h4>
                        </div>
                    </div>
                </div>

                <div class="card-item">
                    <p>"I'm so happy that I found RepairPal. This site really simplifies the process of finding fair prices on parts and labor. Plus, I found a new great mechanic!"</p>
                    <div class="image">
                        <img src="{% static 'images/homeimages/gerald.png' %}" alt="">
                        <div class="imt">
                            <h1>Gerald</h1>
                            <h4>Lawrenceville, GA</h4>
                        </div>
                    </div>
                </div>

                <div class="card-item">
                    <p>"I liked the convenience of RepairPal, and knowing the cost before the repair. Also, I liked the standards and expectations put in place by RepairPal; it takes all of the questions out of the process."</p>
                    <div class="image">
                        <img src="{% static 'images/homeimages/louie.png' %}" alt="">
                        <div class="imt">
                            <h1>Louie</h1>
                            <h4>North Kingstown, RI</h4>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <p>"I liked the convenience of RepairPal, and knowing the cost before the repair. Also, I liked the standards and expectations put in place by RepairPal; it takes all of the questions out of the process."</p>
                    <div class="image">
                        <img src="{% static 'images/homeimages/louie.png' %}" alt="">
                        <div class="imt">
                            <h1>Louie</h1>
                            <h4>North Kingstown, RI</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="help">
                <p>We'd love to help with your next car repair too.</p>

                <div class="helpbtn">
                    <button class="btn1">Find Repair Location</button>
                    <button class="btn2">Get an Estimate</button>
                </div>
            </div>
        </section>


        <section class="last">
            <div class="last-content">
                <h1>Do you own a repair facility?</h1>
                <p>Do you deliver high quality work and great service? RepairPal's trusted network has millions of people searching for facilities like yours. To get certified, contact us today.</p>
                <div class="lastbtn">
                    <button>For Dealerships</button>
                    <button>For Repair Shops</button>
                </div>

                <p>Are you curious about the process? <a href="">
                    Learn about Certification</a></p>
            </div>
        </section>

{% endblock %}
