{% extends 'base.html' %}
{% load static %}
{% block content %}
    

            <div class="search-box">
                <form role="search" action="{% url 'search' %}" method="get">                    
                    <input type="search" name="q" placeholder="Cars, Problems, Symptoms, Mechanic, Garages e.t.c">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="welcome">
                <!-- <h1>Welcome to FixMe</h1><br> -->
                <h1>Quality Car Repair.</h1>
                <h1 class="dif">Fair Price Guarantee.</h1>
                <p>Choose from 400+ certified auto repair shops and dealerships nationwide.</p>
            </div>
            <div class="frm">
                <form action="{% url 'car' %}" method="get">
                    <div class="inputfields">
                        <input type="text" placeholder="Enter Location">     
                        <select name="brand" id="">
                            <option value="">Select Brand</option>
                            {% for brand in brand %}
                                <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">&RightArrow;</button>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                    <label for="">I have a Fixme&trade; plan</label>
                    </div>
                </form>
            </div>


        <br><br><br><br>

{% endblock %}
