{% extends 'base.html' %}
{% block content %}

    <div>
        <br><br>
        <center><h1>All Mechanics</h1></center>
    </div>

    <br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Experience</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            {% for mechanic in mechanic %}
                <tr>
                    <td><a href="{% url 'about_mechanic' mechanic.id %}">{{ mechanic.name }}</a></td>
                    <td>{{ mechanic.location }}</td>
                    <td>{{ mechanic.phone }}</td>
                    <td>{{ mechanic.email }}</td>
                    <td>{{ mechanic.experience }} years</td>
                    <td>{{ mechanic.bio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>

{% endblock %}