{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <center><h2>{{ mechanic.name }}</h2></center>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ mechanic.image.url }}" class="img-fluid" alt="{{ mechanic.name }}">
                </div>
                <div class="col-md-8">
                    <p><strong>Location:</strong> {{ mechanic.location }}</p>
                    <p><strong>Phone:</strong> {{ mechanic.phone }}</p>
                    <p><strong>Email:</strong> {{ mechanic.email }}</p>
                    <p><strong>Experience:</strong> {{ mechanic.experience }} years</p>
                    <p><strong>Bio:</strong> {{ mechanic.bio }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <a href="https://wa.me/{{ mechanic.phone }}" class="btn btn-success btn-block" target="_blank">
                        Chat on WhatsApp
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'chat_with_mechanic' mechanic.id %}" class="btn btn-primary btn-block">
                        Chat within the App
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}