{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="background-image: url('{% static 'images/homeimages/washingbay.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; filter: brightness(80%); width: 100vw; min-height: 100vh;">
    <br><br>
    <center><h1 style="color: white;">Washing Bays</h1></center>

    <br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for bay in washingbay %}
                <tr>
                    <td>{{ bay.name }}</td>
                    <td>{{ bay.location }}</td>
                    <td>{{ bay.description }}</td>
                    <td>{{ bay.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

{% endblock %}