{% extends 'base.html' %}
{% block content %}

<style>
  .card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
  }
</style>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow card-hover" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/202" class="img-fluid rounded-start" alt="Garage Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Garages {{ garages.count }}</b></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Created at: {{ garage_created_at }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 shadow card-hover" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/201" class="img-fluid rounded-start" alt="Mechanic Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Mechanics {{ mechanics.count }}</b></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Created at: {{ mechanic_created_at }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow card-hover" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/200" class="img-fluid rounded-start" alt="Vehicle Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Vehicles {{ cars.count }}</b></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Created at: {{ car_created_at }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 shadow card-hover" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/205" class="img-fluid rounded-start" alt="Contact Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>Contacts {{ contacts.count }}</b></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Created at: {{ contact_created_at }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br>

{% endblock %}