{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <center><h2>Account Settings</h2></center>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'settings' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                </div>
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                </div>
                <div class="form-group mt-3">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group mt-3">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>
                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group mt-3">
                    <label for="profile_image">Profile Image</label>
                    <input type="file" class="form-control" id="profile_image" name="profile_image">
                </div>
                {% if user.userprofile.profile_image %}
                <div class="form-group mt-3">
                    <img src="{{ user.userprofile.profile_image.url }}" class="img-fluid" alt="Profile Image">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
