* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

/* bootstrap css */
.container-fluid {
  padding-left: 23% !important;
}

.navbar {
  border-bottom: 1px solid black;
  color: white !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  width: 100vw;
}

.sidenav {
  height: 100%;
  width: 20% !important;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #141414;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.sidenav a {
  padding: 15px 20px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease-in-out;
}

.sidenav a:hover {
  color: #ccba72;
  font-size: bold;
  transform: translateX(8%);
}

.sidenav i {
  margin-right: 10px;
}

/* Main content */
main {
  padding-top: 1rem;
  color: #212121;
}

main p {
  font-size: 1rem;
  color: #212121;
}
